<!-- <h1>{{title}}</h1>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
</nav>
<router-outlet></router-outlet> -->


<div class="main-container">
  <header class="header header-6">
    <p class="left">{{title}}</p>
  </header>
  <nav class="subnav">
    <nav>
    HI i AM MARUTHUPANDI
    </nav>
  </nav>
  <div class="content-container">
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
       <clr-vertical-nav>
        <a   clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
        <a  clrVerticalNavLink routerLink="/todos" routerLinkActive="active" >todos</a>
      </clr-vertical-nav>
  </div>
</div>
