<div class="table-height row">
  <h1>{{title | uppercase}}</h1>
  <div class="col-xs-12 col-md-12 col-lg-6 col-xl-12">
    <table class="table table-compact">
      <thead>
        <tr>
          <th>userId</th>
          <th>id</th>
          <th>title</th>
          <th>completed</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
       <tr *ngFor="let todos of usertodos" [class.selected]='selectedTodos' >
           <td >{{todos.userId}}</td>
          <td>{{todos.id}}</td>
          <td>{{todos.title}}</td>
          <td>{{todos.completed}}</td>
          <td><clr-icon shape="pencil" [routerLink]="['/todos-detail', todos.id]" (click)="onSelect(todos)"></clr-icon></td>
          <td><clr-icon shape="trash" (click)="delete($event)"> </clr-icon></td>
        </tr>
      </tbody>
    </table>
  </div>



  


  <app-details-component [todosinformation]="selectedtodos"></app-details-component>
  <!-- <form>
    <section class="form-block">
      <label>Add New Todos</label>
      <div class="form-group">
        <label class="required">Todos</label>
        <label for="validInput1" aria-haspopup="false" role="tooltip" class="tooltip tooltip-validation invalid tooltip-sm">
                  <input type="text" id="validInput1">
                  <span class="tooltip-content">
                      This field cannot be empty!
                  </span>
              </label>
      </div>
    </section>
    <button type="submit" class="btn btn-primary">Ok</button>
    <button type="submit" class="btn btn-secondary">Cancel</button>
  </form>
</div> -->

